@charset "utf-8";
@import "layout.css";
header{background: #fff;}
.wrap{width:100%;}
#gnb a{color: #333;}
header h2 a{
    background-image: url('../images/glass2.png');
}
.wrap{/*가로사이즈 중앙정렬*/
    width:1440px;
    margin:0 auto;
}

/*헤더 영역*/
#logo{
    width: 238px; height: 27px;
    margin-right: 40%;
}
#logo>a{
    display: block;
    height: 100%;
    width: 100%;
    background: url('../images/logo2.png') no-repeat;
    overflow: hidden;
    text-indent: -999999px;
}
#gnb{width: 500px; text-align: center;}
header>.flex{margin:0 20px;
width:98%;}

/*배너 영역*/

.tgroup{margin:0;}
#title{
    height:385px;
    background: url('../images/submain.jpg');
}
#title>.tgroup{
    padding:100px 0 0 0;
    color:#fff;
}
.tgroup>h3.line{
    background: gold;
    margin: 10px auto 20px auto;
    height: 3px;
    width:80px;
}
#title>.tgroup>h3{color:#fff;}

/*콘텐츠 영역*/
#contents{
    margin:50px auto;
    text-align: center;
}
#contents>.title{margin-bottom:100px;}
#contents>.title>img{margin-bottom:100px;}
#contents>.title p{
    font-size:1.5rem;
    font-weight: 700;
    color:#939393;
    margin: 20px auto;
}
#contents>.title h3{
    line-height: 1.5;
    color:#aaa;
    margin-bottom: 20px;
}
#contents>.title hr{
    width:600px;
}

/*표 영역*/

#cell>.wrap article{
    height:250px;
    text-align: center;
    background: orange;
}

#cell>div:nth-child(2){margin:20px auto;}
#cell>div:first-child>article:nth-child(1){width:69%;}
#cell>div:first-child>article:nth-child(2){width:29%;}
#cell>div:nth-child(2)>article:first-child{width:24%;}
#cell>div:nth-child(2)>article:last-child{width:74%;}
#cell>div:nth-child(3)>article:first-child{width:49%;}
#cell>div:nth-child(3)>article:last-child{width:49%;}
#cell>div>article>ul{
    color:#fff;
    margin-top: 100px;
}
#cell>div>article>ul>li:first-child{
    font-size: 1.5rem;
    font-weight: 700;
}
#cell>div>article>ul>li:last-child{
    margin-top: 10px;
}
